body {
  color: white;
  display: grid;
  grid-template-areas:
    'header'
    'link'
    'summary'
    'footer';
  background-image: url(../../images/yt_background.png);
  background-size: cover;
}

#Description{
  grid-area: header;
  justify-self: center;
  text-align: center;
  font-size: large;
  margin-top: 1%;
}

form{
  margin: 0% 5%;
  text-align: center;
  grid-area: link;
}


#outputBox {
  margin: 0% 5%;
  text-align: center;
  grid-area: summary;
}
#OutputArea{
  color: black;
  background-color: white;
  width: 100%;
}

#footer {
  grid-area: footer;
}

ul.horizontal-list {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 2%; /* Remove margin */
  display: flex; /* Use flexbox for horizontal layout */
}
ul.horizontal-list li {
  margin-right: 5%; /* Add some space between items */
}